[project]
	description = "Android libary for the #ilovefs day"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anatolij Zelenin (az)
[access "refs/for/refs/*"]
	read = group user/Anatolij Zelenin (az)
	push = group user/Anatolij Zelenin (az)
	label-Code-Review = -2..+2 group user/Anatolij Zelenin (az)
	label-Verified = -1..+1 group user/Anatolij Zelenin (az)
	rebase = group user/Anatolij Zelenin (az)
	removeReviewer = group user/Anatolij Zelenin (az)
	submit = group user/Anatolij Zelenin (az)
[access "refs/heads/*"]
	read = group user/Anatolij Zelenin (az)
	create = group user/Anatolij Zelenin (az)
	push = +force group user/Anatolij Zelenin (az)
	pushMerge = group user/Anatolij Zelenin (az)
[access "refs/tags/*"]
	push = +force group user/Anatolij Zelenin (az)
	pushTag = group user/Anatolij Zelenin (az)
	pushSignedTag = group user/Anatolij Zelenin (az)
